@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: shantell, sans-serif;
    font-weight: 400g;
    color: #3a3a3a;
}

/*headings and logo*/

h1,
h2 {
    font-family: martel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #080808;

}

#logo {
    float: left;
    font-size: 280%;
}