@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: shantell, sans-serif;
    font-weight: 600;
}